@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 300vh;
    overflow-x: hidden;
}
.ani-delay-1{
    animation-delay: 0.5s;
}
.ani-delay-2{
    animation-delay: 1s;
}
.ani-delay-3{
    animation-delay: 1.5s;
}
.ani-delay-4{
    animation-delay: 2s;
}
.ani-delay-5{
    animation-delay: 2.5s;
}
.ani-delay-6{
    animation-delay: 3s;
}
.ani-delay-7{
    animation-delay: 3.5s;
}
.ani-delay-8{
    animation-delay: 4s;
}
.site-nav{
    position: absolute;
    top: 0;
    z-index: 2005;
    
}
.menu-icon{
    color: #1A129F;
}
.site-nav-scroll{
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 0 5px #00000020;
    animation: toShow 1s linear;
}
.site-nav-scroll .nav-link{
    color: #1A129F !important;
}
.site-nav-scroll .nav-link.current-section{
    border: 2px solid #1A129F;
    border-radius: 10em;
    padding: 0.5rem 1.3rem !important;
}

.site-nav-scroll .nav-link{
    color: #1A129F !important;
}
.nav-link.current-section{
    border: 2px solid white;

    border-radius: 10em;
    padding: 0.5rem 1.3rem !important;
}
.navbar-toggler:focus{
    outline: none !important;
    box-shadow: none;
}

.home{
    height: 100vh;
    background-image: url("../img/bg-shape.svg");
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 50%;
    position: relative;
}

.site-logo{
    width: 150px;
}
.content-logo-1{
    width: 500px;
}
.text{
    width: 100%;
}

.scroll-next{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-v{
    position: absolute;
    bottom: 30px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-v .divider{
    width: 5px;
    height: 20px;
    background-color: #1A129F;
}
.social-v a{
    cursor: pointer;
    transition: 0.5s;
}
.social-icon a{
    transition: 0.5s;
}
.social-icon a:hover{
    transform: scale(1.5);
}
.social-v a:hover{
    transform: scale(1.5);
}

.about{
    background-color: #7E76F910;
}

.about-text{
    background-image: url("../img/bg-2.svg");
    background-size: 100%;
    background-position: center;
}
.services{
    height: 175vh;
    background-image: url("../img/bg-3.svg");
    background-size: 100%;
    background-position: center;
}
.services-card{
    border-radius: 35px !important;
    border: none;
    box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 15%) !important;
    transition: 0.5s;
}
.services-card img{
    transition: 0.5s;
}
.services-card:hover img{
    transform: translateX(20px);
}
.services-card:hover{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    transform: scale(0.98);
}
.services-card-des{
    height: 150px;
}

.pricing{
    height: 100vh;
    background-color: #7E76F915;
}

.slick-dots{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-dots li{
    width: 10px !important;
    height:  10px !important;
    background-color: transparent;
    border: 1px solid #7E76F9;
    border-radius: 50%;
}

.slick-dots li.slick-active{
    width: 15px !important;
    height: 15px !important;
    background-color: #7E76F9;
}
.footer{
    /* height: 80vh; */
    background-image: url("../img/footer-2.svg"),url("../img/footer-1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-attachment: fixed; */
    padding-top: 220px;
}
.form-group{
    margin-top: 15px;
}

@keyframes toShow {
    from{

        transform: translateY(-200px);

    }to{

    transform: translateY(0);

         }
}

@media screen and (max-width:480px){
    body{
        overflow-x: hidden;
    }
    .nav-link.current-section{
        border: 2px solid #1A129F;
        border-radius: 10em;
        padding: 0.5rem 1.3rem !important;
    }
    .site-nav{
        background-color: #ffffffee;
        box-shadow: 0 0 5px #00000015;
        backdrop-filter: blur(5px);
    }
    .site-nav .nav-link{
        color: #1A129F !important;
        padding: 15px 20px;
        background: #ffffff;
        margin-bottom: 20px;
        box-shadow: 0 0 5px #00000015;
        border-radius: 10em;
    }
    .navbar-nav{
        padding-top: 20px;
    }
    
    .home{
        height: 100vh !important;
    }
    .about{
        height: 100vh !important;
    }
    .text{
        width: 70%;
    }
    .content-logo-1{
        width: 300px;
    }
    .about-img-2{
        width: 75% !important;
    }
    .about-text-2{
        width: 100% !important;
        height: 80%;
    }
    .services{
        height: 375vh;
    }
    .pricing{
        height: 100vh;
    }
    
    .ft{
        margin-top: 381px !important;
    }
    .scroll-next{
        bottom: 20px !important;
        left: auto;
        right: 10px;
        margin: auto;
    }
    .social-v{
        width: 25%;
        top: auto;
        bottom: 100px !important;
        left: auto;
        right: 25px !important;
        
    }
    .contact{
        background-attachment: scroll;
    }
    
    .footer{
        background-image: url("../img/footer-2.svg"),url("../img/footer-1.svg");
        background-size: auto 80% !important;
        background-repeat: no-repeat;
        background-position: bottom;
        /* background-attachment: fixed; */
        padding-top: 260px !important;
    }
}

@media screen and (max-width:780px) {
    body{
        overflow-x: hidden;
    }
    .nav-link.current-section{
        border: 2px solid #1A129F;
        border-radius: 10em;
        
    }
    .site-nav{
        background-color: #ffffffee;
        box-shadow: 0 0 5px #00000015;
        backdrop-filter: blur(5px);
    }
    .site-nav .nav-link{
        color: #1A129F !important;
        padding: 15px 20px;
        background: #ffffff;
        margin-bottom: 20px;
        box-shadow: 0 0 5px #00000015;
        border-radius: 10em;
    }
    .navbar-nav{
        padding-top: 20px;
    }
    .home{
        height: 100vh;
    }
    
    .scroll-next{
        left: auto;
        right: 50px;
    }
    .social-v{
        left: auto;
        bottom: 130px;
        right: 65px;
    }
    .about{
        height: 100vh;
    }
    .pricing{
        height: 80vh;
    }
    .footer{
        background-image: url("../img/footer-2.svg"),url("../img/footer-1.svg");
        background-size: auto 80% !important;
        background-repeat: no-repeat;
        background-position: bottom;
        /* background-attachment: fixed; */
        padding-top: 260px !important;
    }
}
